.messanger {
  display: flex;
  background: white;
  width: 100%;
  height: calc(100vh - 140px);
  flex-direction: column;
}
.chat-box-header {
  background: #5a5eb9;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-box-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.chatMenu {
  flex: 3.5;
}
.chatBox {
  flex: 5;
}
.chatOnline {
  flex: 3;
}
.chatMenu,
.chatBox,
.chatOnline {
  padding: 10px;
  height: 100%;
}
.chatMenuWrapper input {
  border-radius: 0;
}
.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  height: 8px;
  border: none;
  border-radius: none;
  border-bottom: 1px solid gray;
}
.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
}
.conversation:hover {
  background-color: rgb(207, 207, 207);
}
.conversationImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 10px;
}
.conversationName {
  font-weight: 500;
}
.chat-msg.self > .msg-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: right;
}
.chat-msg.user > .msg-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
}
.cm-msg-text {
  background: #e8e8e8;
  padding: 10px 15px 10px 15px;
  color: #666;
  max-width: 75%;
  float: left;
  margin-left: 10px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 30px;
}
.chat-msg {
  clear: both;
}
.chat-msg.user > .cm-msg-text {
  float: right;
  margin-right: 10px;
  background: #5a5eb9;
  color: white;
}
.cm-msg-button > ul > li {
  list-style: none;
  float: left;
  width: 50%;
}
.cm-msg-button {
  clear: both;
  margin-bottom: 70px;
}
.chat-input-box {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}
.chatboxWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#chat-input {
  background: #031924;
  flex: 1;
  height: 47px;
  outline: none;
  border: 1px solid #ccc;
  color: #888;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#chat-input::-webkit-input-placeholder {
  color: #ccc;
}
#chat-input::-moz-placeholder {
  color: #ccc;
}
#chat-input:-ms-input-placeholder {
  color: #ccc;
}
#chat-input:-moz-placeholder {
  color: #ccc;
}
.chat-submit {
  bottom: 3px;
  right: 10px;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 50%;
  color: #5a5eb9;
  width: 35px;
  height: 35px;
  position: absolute;
}
.chat-logs {
  padding: 15px;
  position: relative;
  height: 100%;
  overflow: auto;
}
.chat-logs::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.chat-logs::-webkit-scrollbar-thumb {
  background-color: #5a5eb9;
}
.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}
.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}
@media screen and (max-width: 768px) {
  .chatOnlineName {
    display: none;
  }
}
